@font-face {
	font-family: montserrat-300_c;
	src: url('../fonts/montserrat-300.woff2') format ('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-variant: normal;
	font-display: swap;

};
@font-face {
	font-family: raleway_c;
	src: url('../fonts/raleway-v22-cyrillic-300.woff2') format ('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-variant: normal;
	font-display: swap;
};
@font-face {
	font-family: raleway_c;
	src: url('../fonts/raleway-v22-cyrillic-100.woff2') format ('woff2');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	font-variant: normal;
	font-display: swap;
};
