
:root {
	--index: calc(1vw + 1vh);
	--gutter: 30px;
	--side-small: 16.7;
	--side-medium: 22.2;
	--side-large: 25;
	--side-big: 30;
	--depth: 8000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1);
	--form-border-color: #fbf19a // Цвет нижней границы
	}