@import './fonts';
@import './style';
@import './variables';
@import './feedback';


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */
}